{% extends 'CERPClientBundle::layout.html.twig' %}
{% block stylesheets %}
    {% 
            stylesheets  
                'bundles/cerpclient/bootstrap/css/bootstrap.min.css' 
                'bundles/cerpclient/plugins/font-awesome/css/font-awesome.min.css' 
                'bundles/cerpclient/plugins/ionicons/css/ionicons.min.css' 
                'bundles/cerpclient/plugins/select2/select2.min.css' 
                'bundles/cerpclient/dist/css/AdminLTE.min.css' 
                'bundles/cerpclient/dist/css/skins/_all-skins.min.css' 
                'bundles/cerpclient/plugins/iCheck/all.css' 
                'bundles/cerpclient/plugins/colorpicker/bootstrap-colorpicker.min.css' 
                'bundles/cerpclient/plugins/timepicker/bootstrap-timepicker.min.css' 
                'bundles/cerpclient/plugins/daterangepicker/daterangepicker-bs3.css' 
                'bundles/cerpsite/css/mandatory.css' 
                'bundles/cerpsite/css/style.css' 
                'bundles/cerpclient/css/style.css' 
                filter='cssrewrite'
        %}
            <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
{% endblock %}

{% block javascript %}

    {% javascripts
            'bundles/cerpclient/plugins/jQuery/jQuery-2.1.4.min.js'
            'bundles/cerpclient/plugins/jQueryUI/jquery-ui.min.js'
            'bundles/cerpclient/plugins/select2/select2.full.min.js'
            'bundles/cerpclient/plugins/input-mask/jquery.inputmask.js'
            'bundles/cerpclient/plugins/input-mask/jquery.inputmask.date.extensions.js'
            'bundles/cerpclient/plugins/input-mask/jquery.inputmask.extensions.js'
            'bundles/cerpclient/plugins/moment/js/moment.min.js'
            'bundles/cerpclient/bootstrap/js/bootstrap.min.js'
            'bundles/cerpclient/plugins/colorpicker/bootstrap-colorpicker.min.js'
            'bundles/cerpclient/plugins/timepicker/bootstrap-timepicker.min.js'
            'bundles/cerpclient/plugins/daterangepicker/daterangepicker.js'
            'bundles/cerpclient/plugins/iCheck/icheck.min.js'
            'bundles/cerpclient/plugins/slimScroll/jquery.slimscroll.min.js'
            'bundles/cerpclient/plugins/fastclick/fastclick.min.js'
            'bundles/cerpclient/dist/js/app.min.js'
            'bundles/cerpclient/dist/js/demo.js'
            'bundles/cerpclient/js/forms.js'
            'bundles/cerpclient/js/Traitement.js'
        %}
            <script type="text/javascript" src="{{ asset_url }}" charset="utf-8"></script>
        {% endjavascripts %}

{% endblock %}

{% block classBody %}add-edit-ticket{% endblock %}

{% if app.request.get('_route') == 'CERP_client-ticket_edit' %}
	{% set edit = true %}
{% else %}
	{% set edit = false %}
{% endif %}

{% block insideBody %}
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<h1>Création d'une Ticket</h1>
		<ol class="breadcrumb">
			<li><a href="#"><i class="fa fa-dashboard"></i>Dashboard</a></li>
			<li><a href="#">Ticket</a></li>
			<li class="active">Ajout</li>
		</ol>
	</section>
	<!-- Main content -->
    <section class="content">
    	<div class="row">
            {{ form_start(oFormTicket, {'attr' : { 'role' : 'form' }}) }}
        		<div class="col-md-8">
        			<div class="box box-primary">
    	                <div class="box-header with-border">
    	                  	<h3 class="box-title">Informations Ticket</h3>
    	                </div><!-- /.box-header -->
    					<!-- form start -->
    					<div class="box-body">
                            <div class="form-group">
                                {{ form_label(oFormTicket.type) }}
                                 {{ form_errors(oFormTicket.type) }}
                                {{ form_widget(oFormTicket.type, { 'attr' : { 'class' : 'form-control select2' } }) }}
                            </div>
                            <div class="form-group">
                                {{ form_label(oFormTicket.priorite) }}
                                 {{ form_errors(oFormTicket.priorite) }}
                                {{ form_widget(oFormTicket.priorite, { 'attr' : { 'class' : 'form-control select2' } }) }}
                            </div>
                            <div class="form-group">
                                {{ form_label(oFormTicket.etat) }}
                                 {{ form_errors(oFormTicket.etat) }}
                                {{ form_widget(oFormTicket.etat, { 'attr' : { 'class' : 'form-control select2' } }) }}
                            </div>                                                                                                    
                            <div class="form-group">
                                {{ form_label(oFormTicket.titre) }}
                                 {{ form_errors(oFormTicket.titre) }}
                                {{ form_widget(oFormTicket.titre, { 'attr' : { 'class' : 'form-control' } }) }}
                            </div>
                            <div class="form-group">
                                {{ form_label(oFormTicket.description) }}
                                 {{ form_errors(oFormTicket.description) }}
                                {{ form_widget(oFormTicket.description, { 'attr' : { 'class' : 'form-control' } }) }}
                            </div>
                            

                            {% for oItem in oFormTicket.dateDemande %}
                                {% if loop.index == 1 %}
                                    <div class="form-group">                            
                                        {{ form_label(oFormTicket.dateDemande) }}
                                        {{ form_errors(oItem) }}
                                        {{ form_widget(oItem, { 'attr' : { 'class' : 'form-control' } }) }}
                                    </div>
                                {% endif %}
                            {% endfor %}                                                        
                        </div><!-- /.box-body -->
                    </div>
                </div>
                
                <div class="col-md-12">
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Soumettre</button>
                        {#<a href={{ path('fr__RG__CERP_client_blacklist_add', { 'ididlocataire':  idlocataire}) }} class="btn btn-primary" >Ajouter à la liste noir</a> #}

                    </div>
                </div>                
                <div class="hidden">
                    {{ form_rest(oFormTicket) }}
                </div>    
            {{ form_end(oFormTicket) }}
        </div>
    </section>
{% endblock %}