{% extends 'CERPClientBundle::layout.html.twig' %}

{% block insideBody %}
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<h1>Liste des tickets</h1>
		<ol class="breadcrumb">
			<li><a href="#"><i class="fa fa-dashboard"></i>Dashboard</a></li>
			<li><a href="#">Ticket</a></li>
			<li class="active">Liste</li>
		</ol>
	</section>

	<!-- Main content -->
	<section class="content">
		<div class="row">
			<div class="col-xs-12">
				<div class="box">
				    <div class="box-header">
				        <h3 class="box-title">Tickets actifs</h3>
				    </div><!-- /.box-header -->
				    <div class="box-body">
				    	{% set aHeaders = { 
				    		type : 'Type', 
				    		priorite : 'Priorité', 
				    		etat : 'Etat', 
				    		titre : 'Titre', 
				    		description : 'Description', 
				    		dateDemande : 'Date de la demande',  
				    	} %}
				    	{% set aRoutes = {
				    		edit : 'CERP_client_ticket_edit',
				    		delete : ''
				    	} %}
				    	{% include 'CERPClientBundle:Widgets:list-tables.html.twig' with { 
				    		'sPrimaryField' : 'marque', 
				    		'sSecondaryField' : 'modele', 
				    		'aHeaders' : aHeaders, 
				    		'aRoutes'	: aRoutes,
				    		'aList' : aListTickets 
				    	} %}
				    </div><!-- /.box-body -->
				</div><!-- /.box -->
			</div>
		</div>
	</section> 
{% endblock %}
{% block endBody %}
	{% include 'CERPClientBundle:Widgets:delete-confirmation.html.twig' with { 
		sEntity : 'un ticket'
	} %}
{% endblock %}