{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}


<iframe
	{% if options.attr is defined %}{% for name, value in options.attr %}{{name}}="{{value}}" {% endfor %}{% endif %}
    id="{{ options.id }}"
    src="//player.vimeo.com/video/{{ media.providerreference }}?{{ options.src }}"
    width="{{ options.width }}"
    height="{{ options.height }}"
    frameborder="{{ options.frameborder }}">
</iframe>
