<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{#{{ site_name }} -#} {% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        {% 
            stylesheets  
                'bundles/cerpsite/css/bootstrap.min.css' 
                'bundles/cerpsite/css/mandatory.css' 
                'bundles/cerpsite/css/style.css' 
                filter='cssrewrite'
        %}
            <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
        {% endstylesheets %}
        <link rel="icon" type="image/x-icon" href="{{ asset('uploads/globals/favicon.png') }}" />
        <meta name="robots" content="index,follow">
        <meta name="viewport" content="width=device-width, minimum-scale=0.25, maximum-scale=1.6, initial-scale=1.0, user-scalable=no">
        <meta name="google-site-verification" content="dyTJZszcTAMJmAYcgqQfSrfxZ9uoPMSUpKJeAosAx-c" />
        <meta name="apple-mobile-web-app-capable" content="yes">
        <link rel="shortcut icon" href="{{ asset('favicon.png') }}" type="image/x-icon">
        <link rel="canonical" href="">
        <link rel="alternate" media="handheld" href="">
        <meta name="description" content="{% block description %}{% endblock %}">
        <meta name="keywords" content="{% block keywords %}{% endblock %}">
        <meta property="og:image" content="{{ asset('bundles/yesite/images/YELogo.png') }}">
        {# <meta property="fb:app_id" content=""> #}
        {# <link rel="publisher" href=""> 
        <link rel="alternate" href="">
        <link rel="alternate" href="">
        <link rel="search" type="" title="Recherche de vidéos YouTube">#}
        <script>
            var REQUIRED_FIELDS   = "{{'Les champs en rouge sont obligatoires'|trans}}";
            var INVAlID_FIELD     = "{{'E-mail invalide'|trans}}";
        </script>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
        {% javascripts
            'bundles/cerpsite/js/jQuery.js'
        %}
            <script type="text/javascript" src="{{ asset_url }}" charset="utf-8"></script>
        {% endjavascripts %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block endBody %}{% endblock %}
        {% block javascripts %}{% endblock %}
        {% block analytics %}
            {% if oPage is defined and oPage.analytics is defined %}
                <script>
                    var _gaq = _gaq || [];
                    _gaq.push(['_setAccount', '{{ oPage.analytics }}']);
                    _gaq.push(['_trackPageview']);
                    (function() {
                    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
                    })();
                </script>
            {% endif %}
        {% endblock %}
    </body>
</html>
