.example-modal .modal 
{
    position: relative;
    top: auto;
    bottom: auto;
    right: auto;
    left: auto;
    display: block;
    z-index: 1;
}
.example-modal .modal 
{
    background: transparent !important;
}
@media (min-width: 768px)
{
    .modal-blacklist .modal-danger .modal-dialog 
    {
        width: 100%;
        margin: 0px auto;
    }
}



.label--checkbox {
  position: relative;
  margin: 10px;
  font-family: Arial, sans-serif;
  cursor: pointer;
}

.checkbox {
    display: inline;
    width: 30px;
    position: relative;
    top: -4px;
    cursor: pointer;
    outline: none;
}
.checkbox:before {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  content: "";
  position: absolute;
  left: 0;
  top: -1px;
  z-index: 1;
  width: 20px;
  height: 20px;
  border: 2px solid #D9D6D6;
}
.checkbox:checked:before {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  height: 10px;
  border-color: #009688;
  border-top-style: none;
  border-right-style: none;
}
.checkbox:after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background: #fff;
  cursor: pointer;
}

.button--round {
  -webkit-transition: 0.3s background ease-in-out;
  -moz-transition: 0.3s background ease-in-out;
  transition: 0.3s background ease-in-out;
  width: 2rem;
  height: 2rem;
  background: #5677fc;
  border-radius: 50%;
  box-shadow: 0 0.125rem 0.3125rem 0 rgba(0, 0, 0, 0.25);
  color: #fff;
  text-decoration: none;
  text-align: center;
}
.button--round i {
  font-size: 1rem;
  line-height: 220%;
  vertical-align: middle;
}
.button--round:hover {
  background: #3b50ce;
}

.button--sticky {
  position: fixed;
  right: 2rem;
  top: 16rem;
}

.content {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: slideUp;
  animation-name: slideUp;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translateY(6.25rem);
    transform: translateY(6.25rem);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes slideUp {
  0% {
    -webkit-transform: translateY(6.25rem);
    transform: translateY(6.25rem);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.logo-lg
{
    background: url('../images/Logo-blue-nocar-800x105.png') center center no-repeat transparent;
    background-size: 160px;
    height: 100%;
}
.logo-mini{ color: black; font-weight: normal; }
.logo-mini b{ color: #14bad1; font-weight: bold; }

.add-edit-locataire .modal-dialog{ margin-top: 0; }

.add-edit-locataire .form-group-separate
{
    border-top: 1px solid #BD1717;
    margin-top: 22px;
    padding-top: 10px;
}
.add-edit-locataire .form-group-separate:first-child
{
    border: none;
    margin-top: 0;
    padding-top: 0;
}
.delete-confirmation-modal.modal-warning
{
    width: 100vw;
    height: 100vh;
    z-index: 999999;
    display: none;
    opacity: 0;
    top: 0;
}
.image-select2-marques
{
    width: 30px;
    margin-right: 10px;
}
.couleur-list
{
    width: 100%;
    height: 20px;
    display: block;
    margin: auto;
}
.image-list
{
    width: 30px;
    height: auto;
    margin: auto;
    display: block;
}
.generated-list td{ vertical-align: middle !important; }

/* Common button styles */
.button {
  float: left;
  min-width: 150px;
  max-width: 250px;
  display: block;
  margin: 1em;
  padding: 1em 2em;
  border: none;
  background: none;
  color: inherit;
  vertical-align: middle;
  position: relative;
  z-index: 1;
}

.button:focus {
  outline: none;
}

.button > span {
  vertical-align: middle;
}
/* Sizes */
.button--size-s {
  font-size: 14px;
}

.button--size-m {
  font-size: 16px;
}

.button--size-l {
  font-size: 18px;
}

/* Typography and Roundedness */
.button--text-upper {
  letter-spacing: 2px;
  text-transform: uppercase;
}

.button--text-thin {
  font-weight: 300;
}

.button--text-medium {
  font-weight: 500;
}

.button--text-thick {
  font-weight: 600;
}

.button--round-s {
  border-radius: 5px;
}

.button--round-m {
  border-radius: 15px;
}

.button--round-l {
  border-radius: 40px;
}

/* Borders */
.button--border-thin {
  border: 1px solid;
}

.button--border-medium {
  border: 2px solid;
}

.button--border-thick {
  border: 3px solid;
}
/* Itzel */
.button--itzel {
  border: none;
  padding: 0px;
  overflow: hidden;
  width: 255px;
}

.button--itzel::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid;
  border-radius: inherit;
  -webkit-clip-path: polygon(0% 0%, 0% 100%, 35% 100%, 35% 60%, 65% 60%, 65% 100%, 100% 100%, 100% 0%);
  clip-path: url(../index.html#clipBox);
  transform: translate3d(0, 100%, 0) translate3d(0, -2px, 0);
  transform-origin: 50% 100%;
}

.button--itzel.button--border-thin::before {
  border: 1px solid;
  transform: translate3d(0, 100%, 0) translate3d(0, -1px, 0);
}

.button--itzel.button--border-thick::before {
  border: 3px solid;
  transform: translate3d(0, 100%, 0) translate3d(0, -3px, 0);
}

.button--itzel::before, 
.button--itzel .button__icon {
  transition: transform 0.3s;
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}

.button--itzel .button__icon {
  position: absolute;
  top: 100%;
  left: 50%;
  padding: 20px;
  font-size: 20px;
  transform: translate3d(-50%, 0, 0);
}

.button--itzel > span {
  display: block;
  padding: 20px;
  transition: transform 0.3s, opacity 0.3s;
  transition-delay: 0.3s;
}

.button--itzel:hover::before {
  transform: translate3d(0, 0, 0);
}

.button--itzel:hover .button__icon {
  transition-delay: 0.1s;
  transform: translate3d(-50%, -100%, 0);
}

.button--itzel:hover > span {
  opacity: 0;
  transform: translate3d(0, -50%, 0);
  transition-delay: 0s;
}
/*@media (min-width: 768px)
.delete-confirmation-modal.modal-warning .modal-dialog {
    width: 50%;
    margin: 80px auto;
}*/