{% extends '::base.html.twig' %}

{% block javascripts %}
	{% javascripts
        'bundles/cerpsite/js/Traitement.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}" charset="utf-8"></script>
	{% endjavascripts %}
{% endblock %}
{% block stylesheets %}{% endblock %}

{# --------------- META  -------------- #}

{# --------------- TITLE  -------------- #}
{% block title %}{{ parent() }}{% if oPage is defined and oPage.title is defined %}{{ oPage.title|trim }}{% endif %}{% endblock %}
{# --------------- DESCRIPTION  -------------- #}
{% block description %} {{ parent() }}{% if oPage is defined and oPage.description is defined %}{{ oPage.description|trim }}{% endif %}{% endblock %}
{# --------------- KEYWORDS  -------------- #}
{% block keywords %} {{ parent() }}{% if oPage is defined and oPage.keywords is defined %}{{ oPage.keywords|trim }}{% endif %}{% endblock %}

{% block body %}
	<div id="page-garde-mobile">
		<div class="banner-top"></div>
		<div class="banner-bottom"></div>
		<div id="wrapper" class="text-center">
			<img src="{{ asset('uploads/globals/logo-garde.png') }}" alt="PODz Medical" class="logo">
			<p>{{'le site se refait une beauté'|trans}} <br> {{'et revient dans quelques jours...'|trans}}</p>
		</div> <!-- /#wrapper -->
	</div> <!-- /#page-garde-mobile -->
    <div class="global-container full-height">
	    {% include 'CERPSiteBundle:Portions:header.html.twig' %}
	        {% block insideBody %}


	        {% endblock %}
	    {% include 'CERPSiteBundle:Portions:footer.html.twig' %}
	</div>
{% endblock %}


