<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> 0.5.1
    </div>
    <strong>Copyright &copy; 2015-2016 <a href="http://www.cars-cerp.com">Cars-CERP</a>.</strong> All rights reserved.
</footer>