<header class="main-header">
    <!-- Logo -->
    <a href="{{ path('CERP_client') }}" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>C</b>C</span>
        <!-- logo for regular state and mobile devices -->
        {# <span class="logo-lg"><b>Cars</b>CERP</span> #}
        <span class="logo-lg"></span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <div class="navbar-custom-menu">
            {# {% include 'CERPClientBundle:Portions:notifications.html.twig' %} #}
        </div>
    </nav>
</header>