{% set sCurrentRoute = app.request.attributes.get('_route') %}
<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="{{ asset('bundles/cerpclient/dist/img/user2-160x160.jpg') }}" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>{{ app.user.username|title }}</p>
                <a href="#"><i class="fa fa-circle text-success"></i> En ligne</a>
            </div>
        </div>
        <!-- search form -->
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Recherche...">
                <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
                </span>
            </div>
        </form>
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            {# <li class="header">MAIN NAVIGATION</li> #}
            <li class="{% if sCurrentRoute == "CERP_client" %}active{% endif %}">
                <a href="{{ path('CERP_client') }}">
                    <i class="fa fa-home"></i> <span>Tableau de bord</span></i>
                </a>
            </li>
            <li class="">
                <a href="#">
                    <i class="fa fa-magic"></i> <span>Assistant de création</span></i>
                </a>
            </li>



            <li class="treeview {% if sCurrentRoute starts with "CERP_client_locataire" %}active{% endif %}">
                <a href="#">
                    <i class="fa fa-user"></i> <span>Locataires</span> <i class="fa fa-angle-right pull-right"></i>
                </a>
                <ul class="treeview-menu">                    
                    <li class="{% if sCurrentRoute == "CERP_client_locataire_add" %}active{% endif %}">
                        <a href="{{ path(app.request.locale ~ '__RG__CERP_client_locataire_add') }}">
                            <i class="fa fa-plus"></i>Ajouter un locataire
                        </a>
                    </li>
                    <li class="{% if sCurrentRoute == "CERP_client_locataire_edit" or sCurrentRoute == "CERP_client_locataire_list" %}active{% endif %}">
                        <a href="{{ path(app.request.locale ~ '__RG__CERP_client_locataire_list') }}">
                            <i class="fa fa-list"></i>Liste des locataires
                        </a>
                    </li>
                </ul>
            </li>


           <li class="treeview {% if sCurrentRoute starts with "CERP_client_voiture" %}active{% endif %}">
                <a href="#">
                    <i class="fa fa-automobile"></i> <span>Véhicules</span> <i class="fa fa-angle-right pull-right"></i>
                </a>
                <ul class="treeview-menu">                    
                    <li class="{% if sCurrentRoute == "CERP_client_voiture_add" %}active{% endif %}">
                        <a href="{{ path(app.request.locale ~ '__RG__CERP_client_voiture_add') }}">
                            <i class="fa fa-plus"></i>Ajouter un véhicule
                        </a>
                    </li>
                    <li class="{% if sCurrentRoute == "CERP_client_voiture_edit" or sCurrentRoute == "CERP_client_voiture_list" %}active{% endif %}">
                        <a href="{{ path(app.request.locale ~ '__RG__CERP_client_voiture_list') }}">
                            <i class="fa fa-list"></i>Liste des véhicules
                        </a>
                    </li>
                    <li class="{% if sCurrentRoute == "CERP_client_voiture_mes_disponible_location_list" %}active{% endif %}">
                        <a href="{{ path(app.request.locale ~ '__RG__CERP_client_voiture_mes_disponible_location_list') }}">
                            <i class="fa fa-list"></i>Liste des véhicules disponible pour location
                        </a>
                    </li>                    
                </ul>
            </li>

           <li class="treeview {% if sCurrentRoute starts with "CERP_client_location" %}active{% endif %}">
                <a href="#">
                    <i class="fa fa-folder-open"></i> <span>Contrats</span> <i class="fa fa-angle-right pull-right"></i>
                </a>
                <ul class="treeview-menu">                    
                    <li class="{% if sCurrentRoute == "CERP_client_location_add" %}active{% endif %}">
                        <a href="{{ path(app.request.locale ~ '__RG__CERP_client_location_add') }}">
                            <i class="fa fa-plus"></i>Ajouter un contrat
                        </a>
                    </li>
                    <li class="{% if sCurrentRoute == "CERP_client_location_edit" or sCurrentRoute == "CERP_client_location_list" %}active{% endif %}">
                        <a href="{{ path(app.request.locale ~ '__RG__CERP_client_location_list') }}">
                            <i class="fa fa-list"></i>Liste des contrats
                        </a>
                    </li>
                    <li class="{% if sCurrentRoute == "CERP_client_location_encours_list" %}active{% endif %}">
                        <a href="{{ path(app.request.locale ~ '__RG__CERP_client_location_encours_list') }}">
                            <i class="fa fa-list"></i>Liste des contrats en cours
                        </a>
                    </li>
                </ul>
            </li>   

            <li class="treeview">
                <a href="#">
                    <i class="fa fa-legal"></i> <span>Liste noire</span> <i class="fa fa-angle-right pull-right"></i>
                </a>
                <ul class="treeview-menu">                    
                    <li class=""><a href=""><i class="fa fa-warning"></i>Ma liste noire</a></li>
                    <li class=""><a href=""><i class="fa fa-exclamation-circle"></i>Liste noire universelle</a></li>
                </ul>
            </li>  

            <li class="treeview {% if sCurrentRoute starts with "CERP_client_voiture" %}active{% endif %}">
                <a href="#">
                    <i class="fa fa-exchange"></i> <span>Echange de véhicules</span> <i class="fa fa-angle-right pull-right"></i>
                </a>
                <ul class="treeview-menu">                    
                    <li class="{% if sCurrentRoute == "CERP_client_voiture_mes_disponible_echange_list" %}active{% endif %}">
                        <a href="{{ path(app.request.locale ~ '__RG__CERP_client_voiture_mes_disponible_echange_list') }}">
                            <i class="fa fa-list"></i>Mes mises à disposition
                        </a>
                    </li> 
                    <li class=""><a href=""><i class="fa fa-arrow-left"></i>Mettre à disposition</a></li>
                    <li class="{% if sCurrentRoute == "CERP_client_voiture_disponible_echange_list" %}active{% endif %}">
                        <a href="{{ path(app.request.locale ~ '__RG__CERP_client_voiture_disponible_echange_list') }}">
                            <i class="fa fa-list"></i>Véhicules disponibles
                        </a>
                    </li> 
                </ul>
            </li>  

            <li class="treeview">
                <a href="#">
                    <i class="fa fa-line-chart"></i> <span>Statistiques avancées</span> <i class="fa fa-angle-right pull-right"></i>
                </a>
                <ul class="treeview-menu">                    
                    {# 
                    Nombre de véhicule louée
                    Nombre de véhicule disponibles
                    Nombre de contrats actuelles
                    Nombre de contrats mensuelles
                    Nombre de contrats par voiture
                    Nombre de contrats par client

                    Nombre de clients

                    Nombre de véhicules échangées
                    Nombre de véhicules détériorées
                    Nombre de véhicules par énérgie
                    
                    Cliens fidèles
                     #}
                    <li class=""><a href=""><i class="fa fa-circle-o"></i>Liste des tickets</a></li>
                    <li class=""><a href=""><i class="fa fa-circle-o"></i>Nous contacter</a></li>
                </ul>
            </li>   

            <li class="treeview">
                <a href="#">
                    <i class="fa fa-gears"></i> <span>Réglages</span> <i class="fa fa-angle-right pull-right"></i>
                </a>
                <ul class="treeview-menu">                    
                    <li class=""><a href=""><i class="fa fa-circle-o"></i>Ouvrir un ticket</a></li>
                    <li class=""><a href=""><i class="fa fa-circle-o"></i>Liste des tickets</a></li>
                    <li class=""><a href=""><i class="fa fa-circle-o"></i>Nous contacter</a></li>
                </ul>
            </li>

            <li class="treeview {% if sCurrentRoute starts with "CERP_client_ticket" %}active{% endif %}">
                <a href="#">
                    <i class="fa fa-support"></i> <span>Support Technique</span> <i class="fa fa-angle-right pull-right"></i>
                </a>
                <ul class="treeview-menu">                    
                    <li class="{% if sCurrentRoute == "CERP_client_ticket_add" %}active{% endif %}"><a href="{{ path(app.request.locale ~ '__RG__CERP_client_ticket_add') }}"><i class="fa fa-circle-o"></i>Ouvrir un ticket</a></li>
                    <li class="{% if sCurrentRoute == "CERP_client_ticket_edit" or sCurrentRoute == "CERP_client_ticket_list" %}active{% endif %}"><a href="{{ path(app.request.locale ~ '__RG__CERP_client_ticket_list') }}"><i class="fa fa-circle-o"></i>Liste des tickets</a></li>
                    <li class=""><a href=""><i class="fa fa-circle-o"></i>Nous contacter</a></li>
                </ul>
            </li>           
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>