{% extends 'CERPClientBundle::layout.html.twig' %}

{% block stylesheets %}
    {% 
            stylesheets  
                'bundles/cerpclient/plugins/select2/select2.min.css' 
                filter='cssrewrite'
        %}
            <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
{% endblock %}


{% block classBody %}add-edit-locataire{% endblock %}

{% if app.request.get('_route') == 'CERP_client_locataire_edit' %}
	{% set edit = true %}
{% else %}
	{% set edit = false %}
{% endif %}

{% block insideBody %}
	<!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Edition d'un locataire existant</h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-home"></i>Tableau de bord</a></li>
            <li><a href="#">Locataires</a></li>
            <li class="active">Edition</li>
        </ol>
    </section>
	<!-- Main content -->
    <section class="content">
    	<div class="row">
            {{ form_start(oFormLocataire, {'attr' : { 'role' : 'form' }}) }}
        		<div class="col-md-{% if app.request.get('_route') == 'CERP_client_locataire_edit' %}6{% else %}12{% endif %}">
        			<div class="box box-primary">
    	                <div class="box-header with-border">
    	                  	<h3 class="box-title">Informations personnelles</h3>
    	                </div><!-- /.box-header -->
    					<!-- form start -->
    					<div class="box-body">
                            <div class="form-group">
                                {{ form_label(oFormLocataire.nom) }}
                                {{ form_widget(oFormLocataire.nom, { 'attr' : { 'class' : 'form-control' } }) }}
                            </div>
                            <div class="form-group">
                                {{ form_label(oFormLocataire.prenom) }}
                                {{ form_widget(oFormLocataire.prenom, { 'attr' : { 'class' : 'form-control' } }) }}
                            </div>
                            <div class="form-group">
                                {{ form_label(oFormLocataire.cin) }}
                                {{ form_widget(oFormLocataire.cin, { 'attr' : { 'class' : 'form-control' } }) }}
                            </div>
                            <div class="form-group">
                                {{ form_label(oFormLocataire.telephone) }}
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-phone"></i>
                                    </div>
                                    {{ form_widget(oFormLocataire.telephone, { 'attr' : { 'class' : 'form-control', 'data-inputmask' : '\'mask\': \'(99) 99 99 99 99\'', 'data-mask':'' } }) }}
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form_label(oFormLocataire.permis) }}
                                {{ form_widget(oFormLocataire.permis, { 'attr' : { 'class' : 'form-control' } }) }}
                            </div>
                            <div class="form-group">
                                {{ form_label(oFormLocataire.adresse) }}
                                {{ form_widget(oFormLocataire.adresse, { 'attr' : { 'class' : 'form-control' } }) }}
                            </div>
                        </div><!-- /.box-body -->
                    </div>
                </div>
                {% if app.request.get('_route') == 'CERP_client_locataire_edit' %}
                	<div class="example-modal col-md-6 modal-blacklist">
						<div class="modal modal-danger">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										{# <button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">×</span>
										</button> #}
										<h4 class="modal-title">Incidents<small class="label pull-right bg-yellow">{{ plural('incident',oFormBlackList.incidents|length) }}</small></h4>
									</div>
									<div class="modal-body">
										{# <button type="button" class="btn btn-block btn-danger btn-sm">Gérer les incidents</button> #}
										{# <a class="btn btn-app">
											<span class="badge bg-yellow">{{ oFormBlackList.incidents|length }}</span>
											<i class="fa fa-bullhorn" ></i> Visualiser et gérer les incidents
										</a> #}
                                        <div class="box-body blacklist-bloc" data-prototype='{{ form_widget(oFormBlackList.incidents.vars.prototype)|e }}'>
			                                {% if oFormBlackList.incidents|length == 0 %}
			                                    <p class="bold center uppercase ras"><strong>Rien à signaler</strong></p>
			                                {% else %} 
											    {% for key, incident in oFormBlackList.incidents %}
											    	<div class="form-group-separate">
												    	<div class="form-group">
											                {{ form_label(incident.type) }}
											                {{ form_widget(incident.type) }}
											            </div>
											            <div class="form-group">
											                {{ form_label(incident.description) }}
											                {{ form_widget(incident.description) }}
											            </div>
											    	</div>
										        {% endfor %}
			                                {% endif %}
			                            </div>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-outline pull-left ajouter-incident" data-dismiss="modal">Ajouter un incident</button>
										{# <button type="button" class="btn btn-outline">Save changes</button> #}
									</div>
								</div>
								<!-- /.modal-content -->
							</div>
							<!-- /.modal-dialog -->
						</div>
						<!-- /.modal -->
					</div>
                {% endif %}
                <div class="hidden">
                	{{ form_rest(oFormLocataire) }}
                	{% if app.request.get('_route') == 'CERP_client_locataire_edit' %}
                		{{ form_rest(oFormBlackList) }}
                	{% endif %}
                </div>
                <div class="col-md-12">
                    <div class="box-footer">
                        {% include 'CERPClientBundle:Widgets:buttons-forms.html.twig' with { 
                            'edit' : edit
                        } %}
                    </div>
                </div>
            {{ form_end(oFormLocataire) }}
        </div>
    </section>
{% endblock %}
{% block endBody %}
    {% set aData = { sEntity : 'un locataire' } %}
    {% if edit %}
        {% set aData = aData|merge({ sDeleteURL : path('CERP_client_locataire_delete', { 'id' : app.request.get('id') }) }) %}
    {% endif %}
    {% include 'CERPClientBundle:Widgets:delete-confirmation.html.twig' with aData %}
{% endblock %}