{% extends 'CERPClientBundle::layout.html.twig' %}

{% block insideBody %}
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<h1>Liste des locataires</h1>
		<ol class="breadcrumb">
			<li><a href="#"><i class="fa fa-home"></i>Tableau de bord</a></li>
			<li><a href="#">Locataires</a></li>
			<li class="active">Liste</li>
		</ol>
	</section>
	<!-- Main content -->
	<section class="content">
		<div class="row">
			<div class="col-xs-12">
				<div class="box">
				    <div class="box-header">
				        <h3 class="box-title">Locataires actifs</h3>
				    </div><!-- /.box-header -->
				    <div class="box-body">
				    	{% set aHeaders = { 
				    		nom : 'Nom', 
				    		prenom : 'Prenom', 
				    		cin : 'CIN', 
				    		permis : 'N° Permis', 
				    		telephone : 'Telephone', 
				    		adresse : 'Adresse'
				    	} %}
				    	{% set aRoutes = {
				    		edit : 'CERP_client_locataire_edit',
				    		delete : 'CERP_client_locataire_delete'
				    	} %}
				    	{% include 'CERPClientBundle:Widgets:list-tables.html.twig' with { 
				    		'sPrimaryField' : 'nom', 
				    		'sSecondaryField' : 'prenom', 
				    		'aHeaders' : aHeaders, 
				    		'aRoutes'	: aRoutes,
				    		'aList' : aListLocataires 
				    	} %}
				    </div><!-- /.box-body -->
				</div><!-- /.box -->
			</div>
		</div>
	</section> 
{% endblock %}
{% block endBody %}
	{% include 'CERPClientBundle:Widgets:delete-confirmation.html.twig' with { 
		sEntity : 'un locataire'
	} %}
{% endblock %}
