{% block ckeditor_widget %}
    <textarea {{ block('widget_attributes') }}>{{ value }}</textarea>

    {% if enable %}
        {% if autoload %}
            <script type="text/javascript">
                var CKEDITOR_BASEPATH = "{{ ckeditor_base_path(base_path) }}";
            </script>
            <script type="text/javascript" src="{{ ckeditor_js_path(js_path) }}"></script>
            <script>
                    CKEDITOR.config.allowedContent = true;
                    CKEDITOR.config.extraAllowedContent = '*';
                    console.log(":D");
            </script>
        {% endif %}
        <script type="text/javascript">
            {{ ckeditor_destroy(id) }}

            {% for plugin_name, plugin in plugins %}
                {{ ckeditor_plugin(plugin_name, plugin) }}
            {% endfor %}

            {% for style_name, style in styles %}
                {{ ckeditor_styles_set(style_name, style) }}
            {% endfor %}

            {% for template_name, template in templates %}
                {{ ckeditor_template(template_name, template) }}
            {% endfor %}

            {{ ckeditor_replace(id, config) }}
        </script>
    {% endif %}
{% endblock %}
