{% extends '::base.html.twig' %}

{% block javascripts %}
	{% javascripts
        'bundles/cerpsite/js/Traitement.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}" charset="utf-8"></script>
	{% endjavascripts %}
{% endblock %}
{% block stylesheets %}{% endblock %}

{# --------------- META  -------------- #}

{# --------------- TITLE  -------------- #}
{% block title %}{{ parent() }}{% if oPage is defined and oPage.title is defined %}{{ oPage.title|trim }}{% endif %}{% endblock %}
{# --------------- DESCRIPTION  -------------- #}
{% block description %} {{ parent() }}{% if oPage is defined and oPage.description is defined %}{{ oPage.description|trim }}{% endif %}{% endblock %}
{# --------------- KEYWORDS  -------------- #}
{% block keywords %} {{ parent() }}{% if oPage is defined and oPage.keywords is defined %}{{ oPage.keywords|trim }}{% endif %}{% endblock %}

{% block body %}
    <div class="global-container full-height">
	    
	</div>
{% endblock %}
