{% extends 'CERPClientBundle::layout.html.twig' %}
{% block stylesheets %}
    {% 
            stylesheets  
                'bundles/cerpclient/plugins/select2/select2.min.css' 
                'bundles/cerpclient/plugins/colorpicker/bootstrap-colorpicker.min.css' 
                'bundles/cerpclient/plugins/datepicker/datepicker3.css' 
                filter='cssrewrite'
        %}
            <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
{% endblock %}


{% block classBody %}add-edit-ticket{% endblock %}

{% if app.request.get('_route') == 'CERP_client_voiture_edit' %}
	{% set edit = true %}
{% else %}
	{% set edit = false %}
{% endif %}

{% block insideBody %}
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<h1>Création d'une Voiture</h1>
		<ol class="breadcrumb">
			<li><a href="#"><i class="fa fa-dashboard"></i>Dashboard</a></li>
			<li><a href="#">Voiture</a></li>
			<li class="active">Ajout</li>
		</ol>
	</section>

	<!-- Main content -->
    <section class="content">
    	<div class="row">
            {{ form_start(oFormVoiture, {'attr' : { 'role' : 'form' }}) }}
        		<div class="col-md-8">
        			<div class="box box-primary">
    	                <div class="box-header with-border">
    	                  	<h3 class="box-title">Informations Voiture</h3>
    	                </div><!-- /.box-header -->
    					<!-- form start -->
    					<div class="box-body">
                            <div class="form-group template-voiture-marques">
                                <label for="marques" class="required">Marques</label>
                                <select class="select2-image form-control" name="marque-select" id="marques">
                                    {% for oItem in aMarques %}
                                        <option data-image="{% path oItem.media, 'imagelist' %}" value="{{ oItem.id }}" {% if iMarqueID is defined and oItem.id == iMarqueID %}selected="selected"{% endif %}>{{ oItem.libelle }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                {{ form_label(oFormVoiture.modele) }}
                                {{ form_errors(oFormVoiture.modele) }}
                                {{ form_widget(oFormVoiture.modele, { 'attr' : { 'class' : 'form-control' } }) }}
                            </div>
                            <div class="form-group">
                                {{ form_label(oFormVoiture.annee) }}
                                 {{ form_errors(oFormVoiture.annee) }}
                                {{ form_widget(oFormVoiture.annee, { 'attr' : { 'class' : 'form-control' } }) }}
                            </div>
                            <div class="form-group">
                                {{ form_label(oFormVoiture.couleur) }}
                                {{ form_errors(oFormVoiture.couleur) }}
                                {{ form_widget(oFormVoiture.couleur, { 'attr' : { 'class' : 'form-control colorpicker-form' } }) }}
                            </div>  
                            <div class="form-group">
                                {{ form_label(oFormVoiture.matricule) }}
                                 {{ form_errors(oFormVoiture.matricule) }}
                                {{ form_widget(oFormVoiture.matricule, { 'attr' : { 'class' : 'form-control', 'data-inputmask' : '\'mask\': \'99999 - A - 99\'', 'data-mask':'' } }) }}
                            </div>
                            <div class="form-group">
                                {{ form_label(oFormVoiture.chassis) }}
                                 {{ form_errors(oFormVoiture.chassis) }}
                                {{ form_widget(oFormVoiture.chassis, { 'attr' : { 'class' : 'form-control' } }) }}
                            </div>
                            <div class="form-group">
                                {{ form_label(oFormVoiture.typeVehicule) }}
                                {{ form_errors(oFormVoiture.typeVehicule) }}
                                {{ form_widget(oFormVoiture.typeVehicule, { 'attr' : { 'class' : 'form-control select2' } }) }}
                            </div>                                                                                             
                            <div class="form-group">
                                {{ form_label(oFormVoiture.energie) }}
                                {{ form_errors(oFormVoiture.energie) }}
                                {{ form_widget(oFormVoiture.energie, { 'attr' : { 'class' : 'form-control select2' } }) }}
                            </div>
                            <div class="form-group">
                                {{ form_label(oFormVoiture.nbrVitesse) }}
                                 {{ form_errors(oFormVoiture.nbrVitesse) }}
                                {{ form_widget(oFormVoiture.nbrVitesse, { 'attr' : { 'class' : 'form-control', 'min' : '3', 'max' : '10' } }) }}
                            </div>
                            <div class="form-group">
                                {{ form_label(oFormVoiture.puissanceFiscale) }}
                                 {{ form_errors(oFormVoiture.puissanceFiscale) }}
                                {{ form_widget(oFormVoiture.puissanceFiscale, { 'attr' : { 'class' : 'form-control' } }) }}
                            </div>
                            <div class="form-group">
                                {{ form_label(oFormVoiture.boitevitesse) }}
                                {{ form_errors(oFormVoiture.boitevitesse) }}
                                {{ form_widget(oFormVoiture.boitevitesse, { 'attr' : { 'class' : 'form-control select2' } }) }}
                            </div>
                            <div class="form-group">
                                {{ form_label(oFormVoiture.nbrPorte) }}
                                 {{ form_errors(oFormVoiture.nbrPorte) }}
                                {{ form_widget(oFormVoiture.nbrPorte, { 'attr' : { 'class' : 'form-control' } }) }}
                            </div>                            
                            <div class="form-group">
                                {{ form_label(oFormVoiture.kilometrage) }}
                                 {{ form_errors(oFormVoiture.kilometrage) }}
                                {{ form_widget(oFormVoiture.kilometrage, { 'attr' : { 'class' : 'form-control' } }) }}
                            </div>
                            <div class="form-group">
                                {{ form_label(oFormVoiture.vidange) }}
                                {{ form_errors(oFormVoiture.vidange) }}
                                {{ form_widget(oFormVoiture.vidange, { 'attr' : { 'class' : 'form-control' } }) }}
                            </div> 
                            <div class="form-group">
                                {{ form_label(oFormVoiture.disponibleEchange) }}
                                {{ form_errors(oFormVoiture.disponibleEchange) }}
                                {{ form_widget(oFormVoiture.disponibleEchange, { 'attr' : { 'class' : 'form-control' } }) }}
                            </div>                            
                        </div><!-- /.box-body -->
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box box-danger">
                        <div class="box-header with-border">
                            <h3 class="box-title">Prix :</h3>
                        </div><!-- /.box-header -->
                        <div class="box-body">
                            <div class="form-group">
                                {{ form_label(oFormVoiture.prixLocation) }}
                                <div class="input-group">
                                    <span class="input-group-addon">DHS</span>
                                    {{ form_errors(oFormVoiture.prixLocation) }}
                                    {{ form_widget(oFormVoiture.prixLocation, { 'attr' : { 'class' : 'form-control' } }) }}
                                    <span class="input-group-addon">.00</span>  
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form_label(oFormVoiture.prixLocationB2B) }}
                                <div class="input-group">
                                    <span class="input-group-addon">DHS</span>
                                    {{ form_errors(oFormVoiture.prixLocationB2B) }}
                                    {{ form_widget(oFormVoiture.prixLocationB2B, { 'attr' : { 'class' : 'form-control' } }) }}
                                    <span class="input-group-addon">.00</span>  
                                </div>
                            </div> 
                            <div class="form-group">
                                {{ form_label(oFormVoiture.prixVoiture) }}
                                <div class="input-group">
                                    <span class="input-group-addon">DHS</span>
                                    {{ form_errors(oFormVoiture.prixVoiture) }}
                                    {{ form_widget(oFormVoiture.prixVoiture, { 'attr' : { 'class' : 'form-control' } }) }}
                                    <span class="input-group-addon">.00</span>  
                                </div>
                            </div> 
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">Equipements :</h3>
                        </div><!-- /.box-header -->
                        <div class="box-body">
                            <div class="content">
                                <ul class="list">
                                    {% for oItem in oFormVoiture.equipements %}   
                                        <li class="list__item">
                                            <label class="label--checkbox">  
                                                {# {{ form_label(oItem) }} #}
                                                {{ form_widget(oItem, { 'attr' : { 'class' : 'checkbox' } }) }}
                                                {{ oItem.vars.label }}
                                            </label>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">Dates :</h3>   
                        </div>
                        <div class="box-body">
                            <div class="content">
                                <div class="form-group">
                                    {{ form_label(oFormVoiture.dateMiseEnCirculation) }}
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        {{ form_errors(oFormVoiture.dateMiseEnCirculation) }}
                                        {{ form_widget(oFormVoiture.dateMiseEnCirculation, { 'attr' : { 'class' : 'datepicker form-control' } }) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    {{ form_label(oFormVoiture.dateVisiteTechnique) }}
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        {{ form_errors(oFormVoiture.dateVisiteTechnique) }}
                                        {{ form_widget(oFormVoiture.dateVisiteTechnique, { 'attr' : { 'class' : 'datepicker form-control' } }) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    {{ form_label(oFormVoiture.dateAssurance) }}
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        {{ form_errors(oFormVoiture.dateAssurance) }}
                                        {{ form_widget(oFormVoiture.dateAssurance, { 'attr' : { 'class' : 'datepicker form-control' } }) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="box-footer">
                            {% include 'CERPClientBundle:Widgets:buttons-forms.html.twig' with { 
                                'edit' : edit
                            } %}
                        </div>
                    </div>                
                    <div class="hidden">
                        {{ form_rest(oFormVoiture) }}
                    </div>    
                {{ form_end(oFormVoiture) }}
            </div>
    </section>
{% endblock %}
{% block endBody %}
    {% set aData = { sEntity : 'une voiture' } %}
    {% if edit %}
        {% set aData = aData|merge({ sDeleteURL : path('CERP_client_voiture_delete', { 'id' : app.request.get('id') }) }) %}
    {% endif %}
    {% include 'CERPClientBundle:Widgets:delete-confirmation.html.twig' with aData %}
{% endblock %}