{% extends 'CERPClientBundle::layout.html.twig' %}

{% block insideBody %}
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<h1>Liste des voitures</h1>
		<ol class="breadcrumb">
			<li><a href="#"><i class="fa fa-dashboard"></i>Dashboard</a></li>
			<li><a href="#">Voitures</a></li>
			<li class="active">Liste</li>
		</ol>
	</section>

	<!-- Main content -->
	<section class="content">
		<div class="row">
			<div class="col-xs-12">
				<div class="box">
				    <div class="box-header">
				        <h3 class="box-title">Mes voitures disponible pour l'échange</h3>
				    </div><!-- /.box-header -->
				    <div class="box-body">
				    	{% set aHeaders = { 
				    		marque : 'Marque', 
				    		modele : 'Modèle', 
				    		energie : 'Energie', 
				    		matricule : 'Matricule', 
				    		chassis : 'Chassis', 
				    		annee : 'Année', 
				    		kilometrage : 'Kilométrage', 
				    		couleur : 'Couleur', 
				    		prixLocation : 'Prix', 
				    		user : 'Agence de location'
				    	} %}
				    	{% set aRoutes = {
				    		edit : 'CERP_client_voiture_edit',
				    		delete : 'CERP_client_voiture_delete'
				    	} %}
				    	{% set aImages = {
				    		marque : 'media'
				    	} %}
				    	{% include 'CERPClientBundle:Widgets:list-tables.html.twig' with { 
				    		'sPrimaryField' : 'marque', 
				    		'sSecondaryField' : 'modele', 
				    		'aHeaders' : aHeaders, 
				    		'aRoutes'	: aRoutes,
				    		'aImages'	: aImages,
				    		'aList' : aListVoitures 
				    	} %}
				    </div><!-- /.box-body -->
				</div><!-- /.box -->
			</div>
		</div>
	</section> 
{% endblock %}
{% block endBody %}
	{% include 'CERPClientBundle:Widgets:delete-confirmation.html.twig' with { 
		sEntity : 'une voiture'
	} %}
{% endblock %}