<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Cars CERP | Dashboard</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    {% 
        stylesheets  
            'bundles/cerpclient/bootstrap/css/bootstrap.min.css' 
            'bundles/cerpclient/plugins/font-awesome/css/font-awesome.min.css' 
            'bundles/cerpclient/plugins/ionicons/css/ionicons.min.css' 
            'bundles/cerpclient/plugins/datatables/dataTables.bootstrap.css' 
            'bundles/cerpclient/dist/css/skins/_all-skins.min.css' 
            'bundles/cerpsite/css/mandatory.css' 
            'bundles/cerpsite/css/style.css' 
            'bundles/cerpclient/css/style.css' 
            'bundles/cerpsite/css/specialbuttons.css' 
            filter='cssrewrite'
    %}
            <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
        {% endstylesheets %}
    {% block stylesheets %}{% endblock %}
    {% stylesheets 'bundles/cerpclient/dist/css/AdminLTE.min.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
        
            
    
         

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="hold-transition skin-blue sidebar-mini {% block classBody %}{% endblock %}">
    <div class="wrapper">
        {% include 'CERPClientBundle:Portions:header.html.twig' %}
        {% include 'CERPClientBundle:Portions:menu-left.html.twig' %}
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            {% block insideBody %}{% endblock %}
            {% block endBody %}{% endblock %}
        </div>
        {% include 'CERPClientBundle:Portions:footer.html.twig' %}
        {# {% include 'CERPClientBundle:Portions:menu-right.html.twig' %} #}
        <!-- Add the sidebar's background. This div must be placed immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>
    </div>

            
    
    {% javascripts
        'bundles/cerpclient/plugins/jQuery/jQuery-2.1.4.min.js'
        'bundles/cerpclient/plugins/jQueryUI/jquery-ui.min.js'
        'bundles/cerpclient/plugins/select2/select2.full.min.js'
        'bundles/cerpclient/plugins/input-mask/jquery.inputmask.js'
        'bundles/cerpclient/plugins/input-mask/jquery.inputmask.date.extensions.js'
        'bundles/cerpclient/plugins/input-mask/jquery.inputmask.extensions.js'
        'bundles/cerpclient/plugins/moment/js/moment.min.js'
        'bundles/cerpclient/bootstrap/js/bootstrap.min.js'
        'bundles/cerpclient/plugins/colorpicker/bootstrap-colorpicker.min.js'
        'bundles/cerpclient/plugins/timepicker/bootstrap-timepicker.min.js'
        'bundles/cerpclient/plugins/datepicker/bootstrap-datepicker.js'
        'bundles/cerpclient/plugins/datepicker/locales/bootstrap-datepicker.fr.js'
        'bundles/cerpclient/plugins/daterangepicker/daterangepicker.js'
        'bundles/cerpclient/plugins/iCheck/icheck.min.js'
        'bundles/cerpclient/plugins/slimScroll/jquery.slimscroll.min.js'
        'bundles/cerpclient/plugins/datatables/jquery.dataTables.min.js'
        'bundles/cerpclient/plugins/datatables/dataTables.bootstrap.min.js'
        'bundles/cerpclient/js/dataTableAdvanced.js'
        'bundles/cerpclient/plugins/fastclick/fastclick.min.js'
        'bundles/cerpclient/dist/js/app.min.js'
        'bundles/cerpclient/dist/js/demo.js'
        'bundles/cerpclient/js/forms.js'
        'bundles/cerpclient/js/Traitement.js'
        'bundles/cerpclient/js/dynamic-add-form.js'
        'bundles/cerpclient/js/calls.js'
        'bundles/cerpclient/js/events.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}" charset="utf-8"></script>
    {% endjavascripts %}
    {% block javascript %}{% endblock %}
  </body>
</html>
