#timeline {
	width: 1170px;
	height: 500px;
	overflow: hidden;
	margin: 85px auto 0;
	position: relative;
	background: url('images/dot.png') left 45px repeat-x;
}
#timeline:before{
	content: '';
	background: url('images/grad_left.png') no-repeat right;
	width: 35%;
	height: 133px;
	position: absolute;
	top: 0;
	left: 0
}
#timeline:after{
	content: '';
	background: url('images/grad_right.png') no-repeat left;
	width: 35%;
	height: 133px;
	position: absolute;
	top: 0;
	right: 0
}
#dates {
	width: 1060px;
	height: 60px;
	overflow: hidden;
	margin-bottom: 80px;
}
#dates li {
	color: #4d5051;
	list-style: none;
	float: left;
	width: 150px;
	height: 50px;
	font-size: 18px;
	font-weight: 600;
	text-align: center;
	background: url('images/biggerdot.png') center bottom no-repeat;
}
#dates a {
	color: #999999;
	line-height: 40px;
	padding-bottom: 10px;
}
#dates .selected {
	color: #4d5051;
	font-size: 37px;
	line-height: 30px;
}
#issues {
	width: 1170px;
	height: 350px;
	overflow: hidden;
}	
#issues li {
	width: 1170px;
	height: 350px;
	list-style: none;
	float: left;
}
#issues li.selected img {
}
#issues li img {
	float: left;
}
#issues li h3 {
	color: #4d5051;
	font-size: 17px;
	font-weight: 600;
	margin: 0 0 20px;
	text-transform: uppercase;
}
#issues li h3 span{
	display: inline-block;
	padding-bottom: 4px;
	border-bottom: 1px solid #7c7f7f;
}
#issues li p {
	color: #4d5051;
	font-size: 14px;
	/**margin-right: 20px;*/
	font-weight: normal;
	line-height: 22px;
}

#grad_left,
#grad_right {
	width: 100px;
	height: 350px;
	position: absolute;
	top: 0;
}
#grad_left {
	left: 0;
	background: url('images/grad_left.png') repeat-y;
}
#grad_right {
	right: 0;
	background: url('images/grad_right.png') repeat-y;
}

#next,
#prev {
	background: url('images/nav.png') no-repeat;
	position: absolute;
	top: 50%;
	top: calc(50% + 60px);
	margin-top: -20px;
	width: 26px;
	height: 41px;
	background-position: 0 0;
	background-repeat: no-repeat;
	text-indent: -9999px;
	overflow: hidden;
}
#next:hover,
#prev:hover {
	background-position: 0 -76px;
}
#next {
	right: 0;
	background-position: top right;
}
#prev {
	left: 0;
	background-position: top left;
}
#next:hover{
	background-position: bottom right;
}
#prev:hover{
	background-position: bottom left;
}
#next.disabled,
#prev.disabled {
	opacity: 0.2;
}	

.colImgTimline{
	padding-left: 60px !important;
}
.colTxtTimeline{
	padding-right: 60px !important;
}