{% extends 'CERPClientBundle::layout.html.twig' %}
{% block stylesheets %}
    {% 
            stylesheets  
                'bundles/cerpclient/bootstrap/css/bootstrap.min.css' 
                'bundles/cerpclient/plugins/font-awesome/css/font-awesome.min.css' 
                'bundles/cerpclient/plugins/ionicons/css/ionicons.min.css' 
                'bundles/cerpclient/dist/css/AdminLTE.min.css' 
                'bundles/cerpclient/dist/css/skins/_all-skins.min.css' 
                'bundles/cerpclient/plugins/iCheck/all.css' 
                'bundles/cerpclient/plugins/colorpicker/bootstrap-colorpicker.min.css' 
                'bundles/cerpclient/plugins/timepicker/bootstrap-timepicker.min.css' 
                'bundles/cerpclient/plugins/select2/select2.min.css' 
                'bundles/cerpclient/plugins/daterangepicker/daterangepicker-bs3.css' 
                'bundles/cerpsite/css/mandatory.css' 
                'bundles/cerpsite/css/style.css' 
                filter='cssrewrite'
        %}
            <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
{% endblock %}

{% block javascript %}

    {% javascripts
            'bundles/cerpclient/plugins/jQuery/jQuery-2.1.4.min.js'
            'bundles/cerpclient/plugins/jQueryUI/jquery-ui.min.js'
            'bundles/cerpclient/plugins/select2/select2.full.min.js'
            'bundles/cerpclient/plugins/input-mask/jquery.inputmask.js'
            'bundles/cerpclient/plugins/input-mask/jquery.inputmask.date.extensions.js'
            'bundles/cerpclient/plugins/input-mask/jquery.inputmask.extensions.js'
            'bundles/cerpclient/plugins/moment/js/moment.min.js'
            'bundles/cerpclient/bootstrap/js/bootstrap.min.js'
            'bundles/cerpclient/plugins/colorpicker/bootstrap-colorpicker.min.js'
            'bundles/cerpclient/plugins/timepicker/bootstrap-timepicker.min.js'
            'bundles/cerpclient/plugins/daterangepicker/daterangepicker.js'
            'bundles/cerpclient/plugins/iCheck/icheck.min.js'
            'bundles/cerpclient/plugins/slimScroll/jquery.slimscroll.min.js'
            'bundles/cerpclient/plugins/fastclick/fastclick.min.js'
            'bundles/cerpclient/dist/js/app.min.js'
            'bundles/cerpclient/dist/js/demo.js'
            'bundles/cerpclient/js/forms.js'
        %}
            <script type="text/javascript" src="{{ asset_url }}" charset="utf-8"></script>
        {% endjavascripts %}

{% endblock %}


{% block insideBody %}

    <h1>BlackList list</h1>

<section class="content-header">
        <h1>Liste des locataires</h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>Dashboard</a></li>
            <li><a href="#">BlackList</a></li>
            <li class="active">Liste</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Blacklist</h3>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <table class="table table-bordered table-striped datagrid">
                            <thead>
                                <tr>
                                    <th>Locataire</th>                                  
                                    <th>Incident</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for sKey, oBlackList in aListBlackList if aListBlackList|length > 0 %}
                                    <tr>
                                        <td>{{ oBlackList.getLocataire() }}</td>
                                        <td>{{ oBlackList.incident }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Locataire</th>
                                    <th>Incident</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div>
        </div>
    </section>




{% endblock %}
