{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}
{% block field %}
	<div>
		<i class="{% if object.priorite == 'Moyenne' %}ion ion-alert-circled color-red{% elseif object.priorite == 'Haute' %}ion ion-nuclear color-orange{% elseif object.priorite == 'Basse' %}ion ion-alert color-blue{% endif %}"></i>
	</div>
{% endblock %}