{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}
{% block field %}
	{% if object.route is defined and object.route != null %}
		<div>
			{{ path(app.request.locale ~ object.route) }}	
		</div>
	{% endif %}
{% endblock %}