{% for child_object in pages_enfant %}
    {% if child_object.pages_enfant|length > 0 %}
        <tbody class="title-accordion-admin title-accordion-admin-enfant">
            <tr><td class="text-accordion-admin text-accordion-admin-enfant" colspan="{{ admin_list_elements|length }}">{{ child_object.name }}<i class="fa fa-plus-circle"></i></td></tr>
        </tbody>
        <tbody class="content-accordion-admin">
    {% endif %}
    <tr class="{% if child_object.pages_enfant|length > 0 %}parent-row-admin{% endif %}">
        {% for field_description in admin_list_elements %}
            {% if field_description.name == '_action' and app.request.isXmlHttpRequest %}
                {# Action buttons disabled in ajax view! #}
            {% elseif field_description.getOption('ajax_hidden') == true and app.request.isXmlHttpRequest %}
                {# Disable fields with 'ajax_hidden' option set to true #}
            {% else %}
                {{ child_object|render_list_element(field_description) }}
            {% endif %}
        {% endfor %}
    </tr>
    {% if child_object.pages_enfant|length > 0 %}
        {% include 'CERPSiteBundle:Admin:page_list_recursive.html.twig' with {'pages_enfant':child_object.pages_enfant, 'admin_list_elements': admin_list_elements } only %}
    </tbody>
    {% endif %}            
{% endfor %}