{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends 'SonataAdminBundle:CRUD:base_list.html.twig' %}



{% block table_header %}
    <thead>
        <tr class="sonata-ba-list-field-header">
            {% for field_description in admin.list.elements %}
                {% if admin.hasRoute('batch') and field_description.getOption('code') == '_batch' and batchactions|length > 0 %}
                    <th class="sonata-ba-list-field-header sonata-ba-list-field-header-batch">
                      <input type="checkbox" id="list_batch_checkbox">
                    </th>
                {% elseif field_description.getOption('code') == '_select' %}
                    <th class="sonata-ba-list-field-header sonata-ba-list-field-header-select"></th>
                {% elseif field_description.name == '_action' and app.request.isXmlHttpRequest %}
                    {# Action buttons disabled in ajax view! #}
                {% elseif field_description.getOption('ajax_hidden') == true and app.request.isXmlHttpRequest %}
                    {# Disable fields with 'ajax_hidden' option set to true #}
                {% else %}
                    {% set sortable = false %}
                    {% if field_description.options.sortable is defined and field_description.options.sortable %}
                        {% set sortable             = true %}
                        {% set sort_parameters      = admin.modelmanager.sortparameters(field_description, admin.datagrid) %}
                        {% set current              = admin.datagrid.values._sort_by == field_description or admin.datagrid.values._sort_by.fieldName == sort_parameters.filter._sort_by %}
                        {% set sort_active_class    = current ? 'sonata-ba-list-field-order-active' : '' %}
                        {% set sort_by              = current ? admin.datagrid.values._sort_order : field_description.options._sort_order %}
                    {% endif %}

                    {% spaceless %}
                        <th class="sonata-ba-list-field-header-{{ field_description.type}} {% if sortable %} sonata-ba-list-field-header-order-{{ sort_by|lower }} {{ sort_active_class }}{% endif %}{% if field_description.options.header_class is defined %} {{ field_description.options.header_class }}{% endif %}"{% if field_description.options.header_style is defined %} style="{{ field_description.options.header_style }}"{% endif %}>
                            {% if sortable %}<a href="{{ admin.generateUrl('list', sort_parameters) }}">{% endif %}
                            {{ admin.trans(field_description.label, {}, field_description.translationDomain) }}
                            {% if sortable %}</a>{% endif %}
                        </th>
                    {% endspaceless %}
                {% endif %}
            {% endfor %}
        </tr>
    </thead>
{% endblock %}

{% block table_body %}
    {{ ladybug_dump(globalfunctions.parseTree(admin.datagrid.results)) }}
    {% for object in globalfunctions.parseTree(admin.datagrid.results) %}
        <tbody class="title-accordion-admin">
            <tr><td class="text-accordion-admin" colspan="{{ admin.list.elements|length }}">{{ object.name }}<i class="fa fa-plus-circle"></i></td></tr>
        </tbody>
        <tbody class="content-accordion-admin">
            <tr class="{% if object.pages_enfant|length > 0 %}parent-row-admin{% endif %}">
                {% for field_description in admin.list.elements %}
                    {% if field_description.name == '_action' and app.request.isXmlHttpRequest %}
                        {# Action buttons disabled in ajax view! #}
                    {% elseif field_description.getOption('ajax_hidden') == true and app.request.isXmlHttpRequest %}
                        {# Disable fields with 'ajax_hidden' option set to true #}
                    {% else %}
                        {{ object|render_list_element(field_description) }}
                    {% endif %}
                {% endfor %}
            </tr>
            {% if object.pages_enfant|length > 0 %}
                {% include 'CERPSiteBundle:Admin:page_list_recursive.html.twig' with {'pages_enfant':object.pages_enfant, 'admin_list_elements': admin.list.elements } only %}
            {% endif %}
        </tbody>
    {% endfor %}
{% endblock %}

{% block table_footer %}
{% endblock %}
               

