{% extends 'CERPSiteBundle::layout.html.twig' %}

{% block javascripts %}
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&amp;language=fr" charset="utf-8"></script>
    {% javascripts 
    'bundles/cerpsite/js/gmap/gmap3.js' 
  %}
        <script type="text/javascript" src="{{ asset_url }}" charset="utf-8"></script>
    {% endjavascripts %}
    {{ parent() }}
    
{% endblock %}

{% block insideBody %}
  
{% endblock %}