{% if edit %}
	{% set sTextEnvoyer = 'Modifier' %}
{% else %}
	{% set sTextEnvoyer = 'Créer' %}
{% endif %}

{# <button type="submit" class="specialbutton specialbutton--tamaya specialbutton--border-thick specialbutton--size-s" data-text="{{ sTextEnvoyer }}">
	<span>{{ sTextEnvoyer }}</span>
</button> #}
<div class="display-table full-width center specialbuttons-container">
	<div class="display-table-cell center-vertically">
		<div class="button-container">
			<button type="submit" name="send-stay" class="specialbutton-green specialbutton specialbutton--tamaya specialbutton--border-thick specialbutton--size-s" data-text="{{ sTextEnvoyer ~ ' et rester' }}">
				<span>{{ sTextEnvoyer ~ ' et rester' }}</span>
			</button>
		</div>
	</div>
	<div class="display-table-cell center-vertically">
		<div class="button-container">
			<button type="submit" name="send-backlist" class="display-table-cell center-vertically specialbutton-green specialbutton specialbutton--tamaya specialbutton--border-thick specialbutton--size-s" data-text="{{ sTextEnvoyer ~ ' et retourner à la liste' }}">
				<span>{{ sTextEnvoyer ~ ' et retourner à la liste' }}</span>
		</div>
		</button>
	</div>
	<div class="display-table-cell center-vertically">
		<div class="button-container">
			<button type="submit" name="send-addnew" class="display-table-cell center-vertically specialbutton-blue specialbutton specialbutton--tamaya specialbutton--border-thick specialbutton--size-s" data-text="{{ sTextEnvoyer ~ ' et ajouter' }}">
				<span>{{ sTextEnvoyer ~ ' et ajouter' }}</span>
			</button>
		</div>
	</div>
	{% if edit %}
		<div class="display-table-cell center-vertically">
			<div class="button-container">
				<button type="submit" name="delete" class="display-table-cell center-vertically specialbutton-red warning-delete specialbutton specialbutton--tamaya specialbutton--border-thick specialbutton--size-s" data-text="Supprimer">
					<span>Supprimer</span>
				</button>
			</div>
		</div>
	{% endif %}
</div>