<div class="modal modal-warning delete-confirmation-modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close dismiss-modal" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">×</span></button>
				<h4 class="modal-title">ATTENTION :</h4>
			</div>
			<div class="modal-body">
				<p>Attention : Vous êtes sur le point de supprimer {{ sEntity }}.</p>
				<p>Êtes-vous sûr de vouloir supprimer <span class="insert-to-delete"></span> ? </p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-outline pull-left dismiss-modal" data-dismiss="modal">Annuler</button>
				<button type="button" {% if sDeleteURL is defined %}data-href="{{ sDeleteURL }}"{% endif %} class="btn btn-outline do-it-modal">Supprimer</button>
			</div>
		</div>
	<!-- /.modal-content -->
	</div>
<!-- /.modal-dialog -->
</div>