<table class="table table-bordered table-striped datagrid generated-list">
	<thead>
		<tr>
			{% if aRoutes.delete != "" %}<th></th>{% endif %}
			<th></th>	
			{% for sKey, sElement in aHeaders %}
				<th>{{ sElement }}</th>
			{% endfor %}
		</tr>
	</thead>
	<tbody>
		{% for sKey, oElement in aList if aList|length > 0 %}
			<tr>
				{% if aRoutes.delete != "" %}
					<td class="center">
						<a class="warning-delete" href="{{ path(aRoutes.delete, {'id' : oElement.id }) }}" >
							<i class="color-red fa fa-remove"></i>
						</a>
					</td>
				{% endif %}
				<td class="center">
					<a href="{{ path(aRoutes.edit, {'id' : oElement.id }) }}" >
						<i class="color-blue fa fa-edit"></i>
					</a>
				</td>
				{% for ssKey, sElement in aHeaders %}
					{% set sClass = 'col-td col-' ~ ssKey %}
					{% if sPrimaryField == ssKey %}
						{% set sClass = sClass ~ ' primary-col' %}
					{% endif %}
					{% if sSecondaryField is defined and sSecondaryField == ssKey %}
						{% set sClass = sClass ~ ' secondary-col' %}
					{% endif %}	

					<td class="{{ sClass }}">
						{% if attribute(aImages, ssKey) is defined %}
							{% thumbnail attribute(attribute(oElement, ssKey), aImages[ssKey]), 'imagelist' with { 'class': 'image-list' } %}<div class="hidden">{{ attribute(oElement, ssKey) }}</div>
						{% elseif typeOf(attribute(oElement, ssKey), 'bool') %}
							{% if attribute(oElement, ssKey) %}
								<div class="fermer-contrat-container btn-group full-width">
									<button type="button" class="btn btn-success btn-xs btn-principal">En cours</button>
									<button type="button" class="btn btn-success dropdown-toggle btn-xs" data-toggle="dropdown" aria-expanded="true">
										<span class="caret"></span>
										<span class="sr-only">Toggle Dropdown</span>
									</button>
									<ul class="dropdown-menu" role="menu">
										<li><a href="{{ path('CERP_client_location_encours_cloture', { 'id' : oElement.id }) }}">Fermer le contrat</a></li>
									</ul>
								</div>
							{% else %}
								<span class="btn btn-block btn-danger btn-xs disabled" >Fermé</span>
							{% endif %}
						{% elseif ssKey == 'couleur' %}
							<span data-couleur="{{ attribute(oElement, ssKey) }}" class="couleur-list" ></span>
						{% elseif typeOf(attribute(oElement, ssKey), 'datetime') %}
							{{ attribute(oElement, ssKey)|date('d-m-Y') }}
						{% else %}
							{{ attribute(oElement, ssKey) }}
						{% endif %}
					</td>
				{% endfor %}
			</tr>
		{% endfor %}
	</tbody>
	{% if aList|length > 9 %}
		<tfoot>
			<tr>
				{% if aRoutes.delete != "" %}<th></th>{% endif %}				            		
				<th></th>				                	
				{% for sKey, sElement in aHeaders %}
					<th>{{ sElement }}</th>
				{% endfor %}
			</tr>
		</tfoot>
	{% endif %}
</table>