{% extends 'CERPClientBundle::layout.html.twig' %}
{% block stylesheets %}
    {% 
            stylesheets  
                'bundles/cerpclient/plugins/select2/select2.min.css' 
                'bundles/cerpclient/plugins/colorpicker/bootstrap-colorpicker.min.css' 
                'bundles/cerpclient/plugins/datepicker/datepicker3.css' 
                'bundles/cerpclient/plugins/timepicker/bootstrap-timepicker.min.css' 
                filter='cssrewrite'
        %}
            <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
{% endblock %}



{% block classBody %}add-edit-locataire{% endblock %}

{% if app.request.get('_route') == 'CERP_client_location_edit' %}
    {% set edit = true %}
{% else %}
    {% set edit = false %}
{% endif %}

{% block insideBody %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Création d'une Location</h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>Dashboard</a></li>
            <li><a href="#">Location</a></li>
            <li class="active">Ajout</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            {{ form_start(oFormLocation, {'attr' : { 'role' : 'form' }}) }}
                <div class="col-md-8">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">Informations Voiture</h3>
                        </div><!-- /.box-header -->
                        <!-- form start -->
                        <div class="box-body">
                            {# <div class="form-group">
                                {{ form_label(oFormLocation.libelle) }}
                                {{ form_errors(oFormLocation.libelle) }}
                                {{ form_widget(oFormLocation.libelle, { 'attr' : { 'class' : 'form-control' } }) }}
                            </div> #}
                            {# <div class="form-group">
                                {{ form_label(oFormLocation.dateLocation) }}
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    {{ form_errors(oFormLocation.dateLocation) }}
                                    {{ form_widget(oFormLocation.dateLocation, { 'attr' : { 'class' : 'datepicker form-control' } }) }}
                                </div>
                            </div> #}
                            {# <div class="form-group col-md-6"> 
                                {% for oItem in oFormLocation.dateLocation %}
                                    {% if loop.index == 1 %}
                                        <div class="col-md-8 no-padding">
                                            {{ form_label(oFormLocation.dateLocation) }}
                                            {{ form_errors(oItem) }}
                                            {{ form_widget(oItem, { 'attr' : { 'class' : 'form-control' } }) }}
                                        </div>
                                    {% else %}
                                        <div class="col-md-4 no-padding">
                                            <label>Heure :</label>
                                            {{ form_errors(oItem) }}
                                            {{ form_widget(oItem, { 'attr' : { 'class' : 'form-control' } }) }}
                                        </div>
                                    {% endif %}
                                {% endfor %}                           
                            </div> #}
                            <div class="form-group col-md-6">
                                {{ form_label(oFormLocation.dateLocation) }}
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    {{ form_errors(oFormLocation.dateLocation.date) }}
                                    {{ form_widget(oFormLocation.dateLocation.date, { 'attr' : { 'class' : 'datepicker form-control' } }) }}
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Heure</label>
                                <div class="input-group bootstrap-timepicker">
                                    <div class="input-group-addon">
                                        <i class="fa fa-clock-o"></i>
                                    </div>
                                    {{ form_errors(oFormLocation.dateLocation.time) }}
                                    {{ form_widget(oFormLocation.dateLocation.time, { 'attr' : { 'class' : 'timepicker form-control' } }) }}
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                {{ form_label(oFormLocation.dateRetour) }}
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    {{ form_errors(oFormLocation.dateRetour.date) }}
                                    {{ form_widget(oFormLocation.dateRetour.date, { 'attr' : { 'class' : 'datepicker form-control' } }) }}
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Heure</label>
                                <div class="input-group bootstrap-timepicker">
                                    <div class="input-group-addon">
                                        <i class="fa fa-clock-o"></i>
                                    </div>
                                    {{ form_errors(oFormLocation.dateRetour.time) }}
                                    {{ form_widget(oFormLocation.dateRetour.time, { 'attr' : { 'class' : 'timepicker form-control' } }) }}
                                </div>
                            </div>
                            {# <div class="form-group col-md-6"> 
                                {% for oItem in oFormLocation.dateRetour %}
                                    {% if loop.index == 1 %}
                                        <div class="col-md-8 no-padding">
                                            {{ form_label(oFormLocation.dateRetour) }}
                                            {{ form_errors(oItem) }}
                                            {{ form_widget(oItem, { 'attr' : { 'class' : 'form-control' } }) }}
                                        </div>
                                    {% else %}
                                        <div class="col-md-4 no-padding">
                                            <label>Heure :</label>
                                            {{ form_errors(oItem) }}
                                            {{ form_widget(oItem, { 'attr' : { 'class' : 'form-control' } }) }}
                                        </div>
                                    {% endif %}
                                {% endfor %}                           
                            </div>  #}
                            <div class="form-group col-md-12">
                                {{ form_label(oFormLocation.voiture) }}
                                {{ form_errors(oFormLocation.voiture) }}
                                {{ form_widget(oFormLocation.voiture, { 'attr' : { 'class' : 'form-control select2' } }) }}
                            </div>                   
                            <div class="form-group col-md-12">
                                {{ form_label(oFormLocation.locataire) }}
                                {{ form_errors(oFormLocation.locataire) }}
                                {{ form_widget(oFormLocation.locataire, { 'attr' : { 'class' : 'form-control select2' } }) }}
                            </div>
                        </div><!-- /.box-body -->
                    </div>
                </div>
                <div class="col-md-4">
                    MAGANA
                </div>
                <div class="col-md-12">
                    <div class="box-footer">
                        {% include 'CERPClientBundle:Widgets:buttons-forms.html.twig' with { 
                            'edit' : edit
                        } %}
                    </div>
                </div>                
            {{ form_end(oFormLocation) }}
        </div>
    </section>
{% endblock %}
{% block endBody %}
    {% set aData = { sEntity : 'une location' } %}
    {% if edit %}
        {% set aData = aData|merge({ sDeleteURL : path('CERP_client_locataire_delete', { 'id' : app.request.get('id') }) }) %}
    {% endif %}
    {% include 'CERPClientBundle:Widgets:delete-confirmation.html.twig' with aData %}
{% endblock %}