{% extends 'CERPClientBundle::layout.html.twig' %}

{% block insideBody %}
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<h1>Liste des locations</h1>
		<ol class="breadcrumb">
			<li><a href="#"><i class="fa fa-dashboard"></i>Dashboard</a></li>
			<li><a href="#">Locations</a></li>
			<li class="active">Liste</li>
		</ol>
	</section>

	<!-- Main content -->
	<section class="content">
		<div class="row">
			<div class="col-xs-12">
				<div class="box">
				    <div class="box-header">
				        <h3 class="box-title">Locations</h3>
				    </div><!-- /.box-header -->
				    <div class="box-body">
				    	{% set aHeaders = { 
				    		libelle : 'Libelle', 
				    		voiture : 'Voiture', 
				    		locataire : 'Locataire', 
				    		dateLocation : 'Date Sortie', 
				    		dateRetour : 'Date Rentrée', 
				    		enCours : 'Contrat en cours' 
				    	} %}
				    	{% set aRoutes = {
				    		edit : 'CERP_client_location_edit',
				    		delete : 'CERP_client_location_delete'
				    	} %}
				    	{% include 'CERPClientBundle:Widgets:list-tables.html.twig' with { 
				    		'sPrimaryField' : 'libelle', 
				    		'aHeaders' : aHeaders, 
				    		'aRoutes'	: aRoutes,
				    		'aList' : aListLocations 
				    	} %}
				    </div><!-- /.box-body -->
				</div><!-- /.box -->
			</div>
		</div>
	</section> 
{% endblock %}
{% block endBody %}
	{% include 'CERPClientBundle:Widgets:delete-confirmation.html.twig' with { 
		sEntity : 'une location'
	} %}
{% endblock %}